/* CODE blocks, basic stuff */

pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
}

/* Line Numbers */

.line-number {
    padding-right: 0.6em;
    margin-right:  0.8em;
    border-right: 1px #999 solid;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a.line-number-anchor {
    color: #999;
    text-decoration: none;
}
a.line-number-anchor:hover {
    text-decoration: underline;
}

/* Subroutine Anchors */

a.sub-anchor {
    color: #905;
    text-decoration: none;
}
a.sub-anchor:hover {
    font-weight: bold;
    text-decoration: underline;
}

/* External Perldoc Anchors */

a.perldoc-link  {
    color: #07a;
    font-weight: bold;
    text-decoration: none;
}
a.perldoc-link:hover  {
    text-decoration: underline;
}

/* Package Usage links */

a.package-link {
    color: #a67f59;
    text-decoration: none;
}
a.package-link:hover {
    font-weight: bold;
    text-decoration: underline;
}

/* Subroutine Usage links */

a.sub-link {
    color: #a67f59;
    text-decoration: none;
}
a.sub-link:hover {
    font-weight: bold;
    text-decoration: underline;
}






