<!DOCTYPE HTML>
<html>
<head>

<link href="/css/prism.css" rel="stylesheet" type="text/css">
<link href="/css/base.css"  rel="stylesheet" type="text/css">

<title>DarkMeta::Browser</title>

<script src="/js/prism.js"        type="text/javascript"></script>
<script src="/js/modern_perl.js"  type="text/javascript"></script>
<script src="/js/jquery.js"       type="text/javascript"></script>
<script src="/js/base.js"         type="text/javascript"></script>

</head>
<body>
<div id="path">[% file.path() %]</div>
<pre id="source" class="line-numbers"><code class="language-modern_perl">[% file.source() %]</code></pre>
</body>
</html>
